[submodule "pages/franco-maquisaca"]
	path = pages/franco-maquisaca
	url = https://github.com/MarbustTechnologyCompany/FrancoMaquisaca-divi.git
[submodule "pages/sistema-colmena"]
	path = pages/sistema-colmena
	url = https://github.com/MarbustTechnologyCompany/SistemaColmena-divi.git
